@{
    ViewData["Title"] = "About Us";
}
<h1 style="font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif; ">About Us</h1>

<div style=" background-color: lightgrey; width: 1100px; border: 15px solid green; padding: 20px; margin: 20px; font-family: 'Festive', cursive; font-size: 40px;">
    Every day, millions of people come to fictionalmovie.com to be informed, inspired, or just plain delighted. Over time, questions have come up about how Fictional Movie works, so we’ve created this site to provide some answers - and explain what we’re doing to foster a responsible platform the users, creators, and artists who make up our community can rely on.



</div>

